<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skanderjabouzi.socketio">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--<permission android:name="com.skanderjabouzi.socketio.SEND_PA_NOTIFICATIONS"-->
        <!--android:label="send_socketio_notifications_permission_label"-->
        <!--android:permissionGroup="android.permission-group.PERSONAL_INFO"-->
        <!--android:protectionLevel="normal" />-->

    <!--<permission android:name="com.skanderjabouzi.socketio.RECEIVE_PA_NOTIFICATIONS"-->
        <!--android:label="receive_socketio_notifications_permission_label"-->
        <!--android:permissionGroup="android.permission-group.PERSONAL_INFO"-->
        <!--android:protectionLevel="normal" />-->

    <uses-permission android:name="com.skanderjabouzi.socketio.SEND_PA_NOTIFICATIONS" />
    <uses-permission android:name="com.skanderjabouzi.socketio.RECEIVE_PA_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SocketActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".VideoActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name="PaReceiver" >
            <intent-filter>
                <action android:name="com.skanderjabouzi.socketio.PA_INTENT" >
                </action>
            </intent-filter>
        </receiver>

    </application>

</manifest>